// primary colors
$primary_red: hsl(0, 100%, 74%);
$primary_green: hsl(154, 59%, 51%);
$white: #fff;

// accent color
$accent_blue: hsl(248, 32%, 49%);

// neutral colors
$neutral_dark_blue: hsl(249, 10%, 26%);
$neutral_grayish_blue: hsl(246, 25%, 77%);
